.editable:empty:not(:focus)::before {
    content: attr(data-placeholder);
    cursor: text;
}

.octagon {
    /* Heavily inspired by https://stackoverflow.com/questions/19418486/hexagon-shape-with-a-border-outline */
    /* Clips the content to a octagon */
    --l: 14.645%;
    --h: 85.355%;
    -webkit-clip-path: polygon(50% 0%, var(--h) var(--l), 100% 50%, var(--h) var(--h), 50% 100%, var(--l) var(--h), 0% 50%, var(--l) var(--l));
    clip-path: polygon(50% 0%, var(--h) var(--l), 100% 50%, var(--h) var(--h), 50% 100%, var(--l) var(--h), 0% 50%, var(--l) var(--l));
}



/* Unimportant, besides from the fact that images should be square somehow */

.octagon {
    height: 150px;
    width: 150px;
    position: relative;
    display: inline-block;
    margin: 20px;
}