<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CV1</title>
</head>
<body>
<script type="module" src="minimain.js"></script>
<script type="module" src="edit-toggle.js"></script>
<link rel="stylesheet" href="temp.css">
<main>
	<section class="education">
		<ul class="education-list">
			<li class="education-item" style="display: flex; justify-content: space-between">
				<span class="divider">
					<editable-component placeholder="Uddannelsessted" element="div"></editable-component> -
					<editable-component placeholder="Titel" element="div"></editable-component>
				</span>
				<span class="divider">
					<editable-component placeholder="Startår" element="div"></editable-component> -
					<editable-component placeholder="Slutår" element="div"></editable-component>
				</span>
			</li>
		</ul>
	</section>
</main>
</body>
</html>
