editable-component:empty {
}

editable-component *:before:empty{
    content: attr(placeholder);
}

li {
    user-select: none;
}

.divider {
    display: flex;
    flex-direction: row;
}
.facts li {
    display: flex;
}
